{% import "macros.html" as macros %} {% import "preview_macro.html" as
preview_macro %}

<!DOCTYPE html>
<html lang="en">
  {{ macros::head() }}

  <body>
    <div id="index-header">
      <canvas id="galaxy"></canvas>
      <h1 class="andromeda-header-text">
        <a href="{{ config.base_url }}">{{ config.title }}</a>
      </h1>
      <span class="header-link-container">
        {% for link in config.extra.header_links %}
        <a href="{{ link.url }}" class="header-link" target="_blank"
          >{{ link.name }}</a
        >
        {% endfor %}
      </span>
    </div>
    <div class="content">
      {% block content %}
      <div class="posts">
        {% for page in term.pages %} {{ preview_macro::preview(page=page) }} {%
        endfor %}
      </div>
      {% endblock content %}
    </div>
    {{ macros::indexfooter() }}
  </body>
</html>
